@import "variables";
@import "tournament";
@import "matches";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: $base-color;
  color: $text-color;
  height: 100%;
}

h2 {
  margin-bottom: 10px;
  margin-top: 0px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 0px;
}

p {
  margin-bottom: 7px;
  margin-top: 7px;
}

ul {
  margin-bottom: 7px;
  margin-top: 7px;
  padding-left: 25px;
}

#root {
  height: 100%;
}

.all-container {
  height: 100%;
}

.centerer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.centerer-main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: $white-background;
  min-height: calc(100% - 66px);
  padding-top: 20px;
}



.rules {
  padding: 0 15px 0 15px;
}

//ON result page
.result-section {
  padding-bottom: 15px;

  .playoff-section {
    font-weight: bold;
    padding-top: 5px;
  }
}

.auth-form {
  margin: 0 auto;
  width: 300px;

  input {
    width: 300px;
    font-family: 'Lato', sans-serif;
    color: $text-color;
    padding: 10px;
    font-size: 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lighten($base-color, 30%);
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 300px;
    border: 1px solid $darkest-base-color;
    background-color: $darker-base-color;
    border-radius: 4px;
    height: 41px;
    margin-top: 10px;
    color: $white-text;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }

  button:hover {
    background-color: $darkest-base-color;
  }
}



.tournaments {
  padding: 0 15px 0 15px;

  .tournament-name {
    padding-bottom: 10px;
  }

  .tournament-link {
    color: $text-color;
    font-size: 20px;
    text-decoration: none;
  }

  .tournament-link:hover {
    text-decoration: underline;
  }
}





.playoff-section {
  max-width: 510px;
}

.playoff-bet-result {
  -moz-box-shadow:inset 1px 1px 0px 0px lighten($unselect-color, 15%);
  -webkit-box-shadow:inset 1px 1px 0px 0px lighten($unselect-color, 15%);
  box-shadow:inset 1px 1px 0px 0px lighten($unselect-color, 15%);
  background-color: $unselect-color;
  border: 1px solid darken($unselect-color, 15%);
  display:inline-block;
  text-align: center;
  margin: 3px 6px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
  width: 50px;
  padding-top: 3px;
}

.playoff-bet-result-right {
  -moz-box-shadow:inset 1px 1px 0px 0px lighten($select-color, 15%);
  -webkit-box-shadow:inset 1px 1px 0px 0px lighten($select-color, 15%);
  box-shadow:inset 1px 1px 0px 0px lighten($select-color, 15%);
  background-color: $select-color;
  border:1px solid darken($select-color, 15%);
  display:inline-block;
  text-align: center;
  margin: 3px 6px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
  width: 50px;
  padding-top: 3px;
}

.playoff-bet-result-wrong {
  -moz-box-shadow:inset 1px 1px 0px 0px lighten($wrong-color, 15%);
  -webkit-box-shadow:inset 1px 1px 0px 0px lighten($wrong-color, 15%);
  box-shadow:inset 1px 1px 0px 0px lighten($wrong-color, 15%);
  background-color: $wrong-color;
  border:1px solid darken($wrong-color, 15%);
  display:inline-block;
  text-align: center;
  margin: 3px 6px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px;
  width: 50px;
  padding-top: 3px;
}


